body {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210709/pngtree-abstract-backgrouns-set-grunge-texture-minimalistic-art-brush-strokes-style-design-image_739359.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
  }
.row ,h1,h2{
    margin: 5px;
    border-width: 3px;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.555);
}