
body {
    background-image: url('https://img.freepik.com/vector-premium/fondo-minimalista-dibujado-mano-fondo-forma-abstracta-dibujada-mano_921039-29195.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    align-items: center;
  }
  .col-md-6 img {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .col-md-6 img:hover {
    transform: scale(1.5); /* Expande la imagen al pasar el mouse */
  }
  
.row ,h1,h2{
    margin: 5px;
    border-width: 3px;
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(241, 233, 203, 0.589);
}
/* Asegura que el contenedor principal ocupe toda la pantalla */

.footer{

  background-color: rgba(114, 114, 114, 0.349);
}
/* Asegura que el contenido principal crezca y empuje el footer hacia abajo */
.main-content {
  flex: 1;
}